<!DOCTYPE html>
<html class="no-js">
    <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ghost_head}}
    <script type='text/javascript'>//<![CDATA[
        var disqus = {
            'activate' : true,
            'shortname' : 'whereintheworldisjeffdouglas'
        };
    //]]></script>
    <script type='text/javascript' src='/assets/js/moment.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
         // calls appery db and fetches 'home' location
        (function() {
          $.ajax({
            url: 'https://api.appery.io/rest/1/db/collections/home?limit=1&sort=-_createdAt',
            type: 'GET',
            headers: {"X-Appery-Database-Id": "537492bfe4b0d2288dcd4e87"},
            success: function(data, textStatus) {
              $('#home-location').html(data[0].name);
            },
            error: function(textStatus, errorThrown) {
              $('#home-location').html('Ugh! Location Error!');
              console.log(textStatus);
            }
          });
        })()
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51147515-1', 'jeffdouglas.com');
      ga('send', 'pageview');
    </script>

    </head>
    <body class="{{body_class}}">
        <div class="site">

        {{{body}}}

        </div>

        {{ghost_foot}}

        <script type='text/javascript' src='/assets/js/scripts.min.js'></script>
    </body>
</html>